header {
    font-family: cursive;
    font-size: 22px;
    font-weight: bold;
    background-color: #0A7475;
    padding: 0px 15px;
    display: flex;
}

.logoNombre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logoPianoAtempo {
    width: 60px;
    margin: 0px 10px 0px 0px;
}

.logoRedeSociales {
    width: 30px;
    margin: 0px 12px;
}

.logoRedeSociales:hover {
    width: 26px;
}

nav {
    display: inline-flex;
    /* background-color: blue; */
    height: 100%;
    width: 65%;
    margin: auto;
}

#menu {
    /* background-color: yellow; */
    text-align: center;
    display: inline-flex;
    width: 100%;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-flex;
    width: 100%;
    /* background-color: aqua; */
}

#menu li .enlaceMenu {
    color: white;
    display: inline;
    width: 100%;
    padding: 25px 0px;
    text-decoration: none;
}

#menu li .enlaceMenu:hover {
    color: #000;
    background-color: #eaeaea;
}

.divRedesFecha {
    /* background-color: aqua; */
    text-align: center;
}

.enlaceRedesSociales {
    text-decoration: none;
}

#fecha {
    font-size: 17px;
    color: black;
}